<% block('stylesheets','<link rel="stylesheet" href="/stylesheets/gravity/index.css" media="all">'); -%>
<div class="demo">
	<ul class='gravity'>
		<li>
			<div class="inner"><span class="icon-safari"></span></div>
			<div class="inner"><span class="icon-safari"></span></div>
			<div class="inner"><span class="icon-safari"></span></div>
		</li><li>
			<div class="inner"><span class="icon-opera"></span></div>
			<div class="inner"><span class="icon-opera"></span></div>
			<div class="inner"><span class="icon-opera"></span></div>
		</li><li>
			<div class="inner"><span class="icon-IE"></span></div>
			<div class="inner"><span class="icon-IE"></span></div>
			<div class="inner"><span class="icon-IE"></span></div>
		</li><li>
			<div class="inner"><span class="icon-firefox"></span></div>
			<div class="inner"><span class="icon-firefox"></span></div>
			<div class="inner"><span class="icon-firefox"></span></div>
		</li><li>
			<div class="inner"><span class="icon-chrome"></span></div>
			<div class="inner"><span class="icon-chrome"></span></div>
			<div class="inner"><span class="icon-chrome"></span></div>
		</li><li>
			<div class="inner"><span class="icon-css3"></span></div>
			<div class="inner"><span class="icon-css3"></span></div>
			<div class="inner"><span class="icon-css3"></span></div>
		</li><li>
			<div class="inner"><span class="icon-html5"></span></div>
			<div class="inner"><span class="icon-html5"></span></div>
			<div class="inner"><span class="icon-html5"></span></div>
		</li><li>
			<div class="inner"><span class="icon-file-excel"></span></div>
			<div class="inner"><span class="icon-file-excel"></span></div>
			<div class="inner"><span class="icon-file-excel"></span></div>
		</li><li>
			<div class="inner"><span class="icon-file-word"></span></div>
			<div class="inner"><span class="icon-file-word"></span></div>
			<div class="inner"><span class="icon-file-word"></span></div>
		</li><li>
			<div class="inner"><span class="icon-file-openoffice"></span></div>
			<div class="inner"><span class="icon-file-openoffice"></span></div>
			<div class="inner"><span class="icon-file-openoffice"></span></div>
		</li>
	</ul>
</div>
<% block('scripts','<script src="/javascripts/sea-modules/seajs/sea.js" data-config="/javascripts/web/config.js" data-main="/javascripts/web/main.js" ></script>'); -%>	



